//@import 'fonts';
//@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'reset';
@import 'fonts';

$dark-blue: #00172E;
$blue-color: #00458A;
$yellow-color: #F0C500;

@mixin clear-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  li {
    margin-bottom: 0;
  }
}

@mixin transition {
  transition: all .3s;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

body {
  min-width: 320px;
  //font-family: 'SourceSerifPro-Regular', sans-serif;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: #E5E5E5;
  color: $dark-blue;
  overflow-x: hidden;
}

html,
body {
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.fixed {
  overflow: hidden;
}

img, svg {
  display: block;
}

.preloader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1, .h1 {
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 16px;
  font-family: 'SourceSerifPro-Regular', serif;
  &+h2, &+.h2 {
    margin-top: 64px;
    margin-bottom: 64px;
  }
  @media screen and (max-width: 767px) {
    font-size: 28px;
    line-height: 36px;
    font-family: 'SourceSerifPro-Bold', serif;
  }
}

h2, .h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 48px;
  font-family: 'SourceSerifPro-Bold', serif;
  @media screen and (max-width: 767px) {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
  }
}

h3, .h3 {
  font-size: 24px;
  line-height: 32px;
}

h4, .h4 {
  font-family: 'SourceSerifPro-Bold', serif;
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 12px;
}
h5, .h5, h6, .h6 {
  font-size: 16px;
  line-height: 24px;
  font-family: 'SourceSerifPro-Bold', serif;
}

p {
  margin: 0 0 16px;
  a {
    color: $blue-color;
    text-decoration: underline;
    &:hover {
      color: $blue-color;
      text-decoration: none;
    }
    &:visited {
      color: $blue-color;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}

b, strong {
  font-family: 'SourceSerifPro-Bold', serif;
}

ol, ul {
  margin-bottom: 16px;
  padding-left: 16px;
  li {
    margin-bottom: 4px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ul {
  list-style: disc inside;
}

ol {
  list-style: decimal inside;
}

.breadcrumbs {
  @include clear-list();
  display: flex;
  align-items: center;
  overflow-x: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.breadcrumb-item {
  color: $dark-blue;
  white-space: nowrap;
  &:after {
    content: '/';
    padding: 0 8px;
  }
  &:last-child {
    &:after {
      display: none;
    }
  }
  a {
    color: #5E5E5E;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.btn {
  @include transition();
  display: inline-block;
  font-family: 'SourceSansPro-Regular', serif;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  border-radius: 0;
  text-decoration: none;
  text-align: center;
  cursor: pointer;

  &.yellow-btn {
    background: $yellow-color;
    color: $dark-blue;
    &:hover {
      background: #FFE362;;
    }
  }
  &.transparent-btn {
    border: 1px solid $blue-color;
    color: $blue-color;
    padding-top: 11px;
    padding-bottom: 11px;
    &:hover {
      background: $blue-color;
      color: #fff;
    }
  }
}

.form-control {
  width: 100%;
  height: auto;
  background: transparent;
  border-radius: 0;
  border: 1px solid $blue-color;
  padding: 13px 16px;
  font-family: 'SourceSansPro-Regular', serif;
  font-size: 16px;
  line-height: 16px;
}

.header {
  .container {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $blue-color;
  }
}

.header-inner-wrapper {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 32px;

  .logo-img {
    margin-right: 16px;

    img {
      width: 100%;
      max-width: 80px;
    }
  }

  .logo-text {
    font-size: 20px;
    line-height: 32px;
    font-family: 'SourceSerifPro-Bold', serif;
    max-width: 244px;
  }

  &.dp-logo {
    .logo-text {
      color: $blue-color;
    }
  }
}

.header-wrapper {
  background: #fff;
}

.header-contacts {
  display: flex;
  margin-left: auto;

  .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid #E3E3E3;
    padding: 0 16px;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }

  .item-title {
    font-family: 'SourceSerifPro-Bold', serif;
    text-decoration: none;
    margin-bottom: 4px;
  }

  .item-text {
    color: #757575;
    font-family: 'SourceSansPro-Regular', serif;
    a {
      color: $blue-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.language-toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.language-btn {
  font-family: 'SourceSansPro-Regular', serif;
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 30px;
  background: #E3E3E3;
  border: none;
  cursor: pointer;
  text-align: center;
  margin: 4px;
  border-radius: 50%;

  &.active {
    background: $blue-color;
    color: #fff;
  }
}

.main-menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: relative;
}

.search-btn {
  background: none;
  border: none;
  padding: 0;

  .close-icon {
    display: none;
  }
}
.main-menu {
  font-family: 'SourceSerifPro-Regular', serif;
}


@media screen and (min-width: 992px) {
  .main-menu {
    @include clear-list;
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-content: center;

    & > li {
      display: flex;
      align-items: center;
      padding-right: 32px;

      ul {
        opacity: 0;
        visibility: hidden;
        z-index: -1;
      }
    }
  }
  .main-menu > li {
    position: relative;

    & > ul {
      @include clear-list;
      position: absolute;
      z-index: 10;
      top: 100%;
      left: 0;
      background: #fff;
      padding-top: 24px;
      padding-bottom: 24px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 175px;
      min-width: 190%;

      li {
        min-width: 190px;
        margin-bottom: 12px;
        margin-right: 100px;

        &:last-child {
          margin-bottom: 0;
        }

        a {
          display: block;
          padding: 0;
        }
      }
    }

    &:after {
      @include transition;
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #5E5E5E;
      margin-left: 8px;
    }

    &.item-hover {
      & > a {
        color: $blue-color;
      }
      &:after {
        border-top-color: $blue-color;
      }

      & > ul {
        opacity: 1;
        visibility: visible;
        z-index: 9;
      }

      &:after {
        transform: rotate(180deg);
      }
    }
  }
  #main-menu-overlay {
    position: absolute;
    z-index: -1;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    opacity: 0;
    visibility: hidden;

    &.show {
      opacity: 1;
      visibility: visible;
      z-index: 8;
    }
  }
  .main-menu.hover {
    .has-submenu:not(.item-hover) {
      &:after {
        border-top-color: #757575;
      }

      & > a {
        color: #757575;
      }
    }
  }
  .has-submenu {
    &:last-of-type {
      ul {
        max-width: 200px;
      }
    }

    ul {
      li {
        a {
          &:hover {
            color: $blue-color;
          }
        }
      }
    }
  }
  body.show-search-field {
    .search-btn {
      .close-icon {
        display: block;
      }

      .search-icon {
        display: none;
      }
    }
  }
}

.mobile-menu-btn-wrap {
  display: none;
}

.mobile-menu-btn {
  background: none;

  &:focus {
    outline: 1px solid lightblue;
  }
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  width: 24px;
  height: 3px;
  background: $blue-color;
}

.hamburger {
  padding: 0;
  justify-content: center;
  align-items: center;
}

.hamburger-box {
  width: 24px;
  height: 24px;
}

.hamburger-inner:before {
  top: -8px;
}

.hamburger-inner:after {
  bottom: -8px;
}

.main-slider {
  .slider-item {
    min-height: 400px;
    padding-top: 100px;
    padding-bottom: 96px;
    position: relative;
  }

  .item-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .item-overlay {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 23, 46, 0.2) 0%, rgba(0, 23, 46, 0.6) 100%);
  }

  .slider-item-content {
    position: relative;
    z-index: 3;
    color: rgba(255, 255, 255, .6);

    .h1 {
      color: #fff;
    }
  }
}

.search-btn {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: none;

  .btn-text {
    display: none;
    color: $dark-blue;
  }

  svg {
    fill: $dark-blue;
  }
}

.mobile-submenu-wrap {
  display: none;
}

.desktop-search-wrap {
  display: none;
  position: absolute;
  z-index: 4;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  padding-top: 24px;
  padding-bottom: 24px;
}

.input-title {
  font-size: 20px;
  line-height: 32px;
}

.input-wrap {
  margin-bottom: 24px;
}

.search-block {
  .input-wrap {
    width: 100%;
    max-width: 384px;
    margin-right: 32px;
  }

  .btn {
    margin-bottom: 24px;
  }
}

.slick-arrow {
  @include transition();
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid rgba(#E3E3E3, .25);
  background: none;
  svg {
    @include transition();
    width: 16px;
    height: 16px;
    fill: $yellow-color;
  }
  &:hover {
    background: $yellow-color;
    svg {
      fill: $dark-blue;
    }
  }
}

.main-slider-wrap {
  position: relative;
  .slick-arrow {
    margin-left: 16px;
  }
  .slider-nav-wrap {
    width: 100%;
    position: absolute;
    z-index: 2;
    right: 0;
    bottom: 32px;
  }
  .main-slider-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

.section-padding {
  padding-top: 96px;
  padding-bottom: 96px;
}
.post-item {
  padding-bottom: 24px;
  border-bottom: 1px solid #ACACAC;
  margin-bottom: 48px;
  a {
    display: block;
  }
}
.post-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 56.25%;
}
.post-title {
  color: $blue-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.post-date {
  display: block;
  font-family: 'SourceSansPro-Regular', serif;
  color: #5E5E5E;
  margin-bottom: 24px;
}
.post-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: -16px;
  margin-right: -16px;
  .post-img, .post-text {
    flex-grow: 1;
    min-width: 50%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.cards-block {
  padding-top: 48px;
  padding-bottom: 80px;
  div[class^="col"] {
    margin-top: 32px;
  }
  .row {
    margin-top: -32px;
  }
}

.people-wrapper {
  margin-top: -32px;
  div[class^="col"] {
    margin-top: 32px;
  }
}

.card-item {
  @include transition();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 192px;
  background: #fff;
  padding: 24px;
  text-decoration: none;
  &:hover {
    box-shadow: 0 8px 24px rgba(0, 23, 46, 0.1);
  }
}
.card-item-title {
  margin-bottom: 24px;
}
.card-item-img {
  width: 48px;
  height: 48px;
  margin-right: auto;
}

.footer-wrapper {
  background: $dark-blue;
  color: rgba(255,255,255, .6);
  address {
    display: block;
    margin-bottom: 12px;
  }
}
.footer {
  padding-top: 48px;
  font-family: 'SourceSansPro-Regular', serif;
  .container {
    border-bottom: 1px solid rgba(255,255,255, .2);
  }
}
.footer-list-title {
  font-family: 'SourceSansPro-Semibold', serif;
  color: #fff;
  margin-bottom: 12px;
}
.footer-list {
  @include clear-list();
  margin-bottom: 56px;
  &:last-child {
    margin-bottom: 56px;
  }
  li {
    margin-bottom: 8px;
    &:hover {
      a {
        color: #fff;
        text-decoration: underline;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}
.bottom-footer {
  padding-top: 48px;
  padding-bottom: 48px;
}
.contacts-list {
  @include  clear-list();
  a {
    color: #fff;
    &:hover {
      color: $yellow-color;
    }
  }
}
.social-list {
  @include  clear-list();
  li {
    a {
      display: flex;
      align-items: center;
    }
    &:hover {
      .item-icon {
        svg {
          fill: rgba(255,255,255, .7);
        }
      }
      .item-title {
        color: #fff;
      }
    }
  }
  .item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin-right: 8px;
    svg {
      fill: rgba(255,255,255, .3);
    }
  }
}
.footer-copywrite {
  padding-top: 12px;
  padding-bottom: 24px;
}

.sidebar {
  .card-item {
    max-width: 280px;
    margin-left: auto;
    flex-direction: column-reverse;
    min-height: auto;
    margin-bottom: 24px;
  }
  .card-item-title {
    margin-bottom: 0;
    margin-top: 24px;
  }
  .post-img {
    margin-bottom: 24px;
  }
  .post-date {
    margin-bottom: 0;
  }
  .post-item {
    border: none;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .posts-wrapper {
    margin-bottom: 104px;
  }
}

.people-item {
  .item-img {
    height: 280px;
    overflow: hidden;
    background: url(../img/user-bg.jpg)no-repeat center/cover;
    margin-bottom: 24px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.structure-row {
  h2, .h2 {
    margin-bottom: 8px;
  }
  .col-lg-4 {
    &:nth-child(1), &:nth-child(2) {
      border-bottom: 1px solid #ACACAC;
    }
  }
}
.structure-item {
  padding-top: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  line-height: 32px;
  a {
    font-family: 'SourceSansPro-Regular', sans-serif;
    color: $blue-color;
    &:hover {
      text-decoration: underline;
    }
  }
  ul {
    @include clear-list();
    li {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.contact-item {
  margin-bottom: 48px;
  .item-title {
    font-family: 'SourceSansPro-Regular', sans-serif;
    color: #5E5E5E;
    white-space: nowrap;
  }
}
.contacts-wrap {
  padding-top: 48px;
}

.vacancy-price {
  font-family: 'SourceSansPro-Regular', serif;
  font-size: 20px;
  line-height: 32px;
  color: #5E5E5E;
}
.vacancy-accordion {
  h4, .h4 {
    margin-bottom: 0;
    &:hover {
      color: $blue-color;
    }
  }
  .accordion-item-body {
    display: none;
    padding-top: 24px;
    max-width: 600px;
  }
  p {
    margin-bottom: 12px;
  }
  .accordion-item-title {
    position: relative;
    cursor: pointer;
    padding-right: 48px;
    svg {
      @include transition();
      position: absolute;
      top: 6px;
      right: 0;
      width: 24px;
      height: 24px;
      fill: #5E5E5E;
    }
  }
  .accordion-item {
    padding: 24px;
    border-bottom: 1px solid #ACACAC;
    &.active {
      h4, .h4 {
        color: $blue-color;
      }
      .accordion-item-title {
        svg {
          transform: rotate(180deg);
          fill: $blue-color;
        }
      }
    }
  }
}

.download-file-block {
  padding-top: 24px;
  padding-bottom: 24px;
  font-family: 'SourceSansPro-Regular', serif;
}
.download-file-link {
  display: inline-block;
  position: relative;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 100%;
  .svg-icon {
    width: 24px;
    height: 24px;
    position: absolute;
  }
  .file-icon {
    top: 0;
    left: 0;
    fill: $blue-color;
  }
  .download-icon {
    top: 0;
    right: 0;
    fill: #5E5E5E;
  }
  &:hover {
    .download-icon {
      fill: $blue-color;
    }
  }
}
.download-file-name {
  display: block;
  font-size: 20px;
  line-height: 32px;
  max-width: 600px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.download-file-info {
  display: block;
  color: #5E5E5E;
}
.block-info {
  padding-top: 48px;
  font-family: 'SourceSansPro-Regular', serif;
  font-size: 20px;
  line-height: 32px;
}
.gallery-item-img {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom: 24px;
  .iframe-block {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
  }
  .img-preview {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .play-video-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    background: transparent;
    padding: 0;
    margin: 0;
    border: none;
    &:hover {
      .ytp-large-play-button-bg {
        fill: #f00;
        fill-opacity: 1;
      }
    }
  }
  .iframe-block {
    display: none;
    iframe {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &.playing {
    .iframe-block {
      display: block;
    }
    .img-preview, .play-video-btn {
      display: none;
    }
  }
}
.gallery-item {
  padding-top: 48px;
}

.pagination {
  @include clear-list();
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 40px;
  height: 40px;
  color: $blue-color;
  border: 1px solid $blue-color;
  svg {
    width: 24px;
    height: 24px;
    fill: $blue-color;
  }
  &:hover {
    background: $blue-color;
    color: #fff;
    svg {
      fill: #fff;
    }
  }
}
.page-item {
  margin: 0 4px;
  &.active {
    .page-link {
      background: $blue-color;
      color: #fff;
    }
  }
}
.pagination-wrap {
  padding-top: 48px;
}

.photo-gallery-wrap {
  .inner-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: 32px;
  }
  .photo-gallery-item {
    width: 50%;
  }
}
.photo-gallery-item {
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 32px;
  a {
    display: block;
    position: relative;
    padding-bottom: 56.25%;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.modal {
  display: none;
}
.modal-form {
  max-width: 692px;
  padding: 48px;
  background: #fff;
}
.input-block {
  margin-bottom: 24px;
}
.input-badge {
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: #757575;
}
@import 'media';